<div class="distributor-locator-popup distributor-locator-forms emph-wrap">
            <p><strong>Please enter your zip code or country to find the nearest Hy-Lok USA, Inc. distributor.</strong></p>

              <form action="http://www.hylokusa.com/" method="get" class="search-form">

                <h3>Locate US Distributor</h3>
                <p class="ico-us-flag clearfix"><img src="http://www.hylokusa.com/images/americanflag-hy-lok.png" class="alignleft"></p>

                <h4>Enter Zip code:</h4>
                <input type="text" id="search-site" value="" placeholder="Zip Code" name="s" size="5" maxlength="5" title="Search Our Site">

                <input type="submit" value="Search">

              </form>

               
            </div>