{% include 'custom/system/global/html-header.html' %} {% include 'custom/system/global/header-landing-page.html' %}


<!--Site Content-->
<section class="site-content two-column-alt" role="main">
  <div class="inner-wrap">
    <article class="site-content-primary">
{% widget_block rich_text "module_13982512401534862" overrideable=true, label='Rich Text' %}
{% widget_attribute "html" %}<h2>Something Powerful</h2>
<h3>Tell The Reader More</h3>
<p>The headline and subheader tells us what you're <a href="#">offering</a>, and the form header closes the deal. Over here you can explain why your offer is so great it's worth filling out a form for.</p>
<p>Remember:</p>
<ul>
    <li>Bullets are great</li>
    <li>For spelling out <a href="#">benefits</a> and</li>
    <li>Turning visitors into leads.</li>
</ul>{% end_widget_attribute %}
{% end_widget_block %}
    </article>
    <aside class="site-content-secondary">
   {% widget_block form "module_139825148975214759" overrideable=true, label='Form' %}
    </aside>
    
  </div>
</section>


{% include 'custom/system/global/footer-landing-page.html' %} {% include 'custom/system/global/html-footer.html' %}
