<!--Site Footer-->
<footer class="site-footer" role="contentinfo">
  <div class="inner-wrap">
    
    {% rss_listing "my_rss_listing" label="My Rss Listing", attribution_text="by", click_through_text="Read more", content_group_id=0, is_external=False, limit_to_chars=185, number_of_items=2, publish_date_format="", publish_date_text="posted at", rss_url="", show_author=false, show_date=false, include_featured_image=false, show_detail=true, show_title=True, title="" %}

    </div>
  </div><!-- end inner-wrap-->
  
  <div class="sf-small">
    <div class="inner-wrap">
      <div class="sf-main">
        <a href="/"><img class="logo-footer" src="http://cdn2.hubspot.net/hubfs/1793355/img/logo-cjwinter.svg" alt="cjwinter logo"></a>

        <ul class="footer-links">
        <li><a href="/catalog">Catalog</a></li>
          <li><a href="/contact-us">Contact</a></li>
          <li><a href="/about-us">About</a></li>
          <li><a href="/troubleshooting">Troubleshooting</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/distributors">Distributors</a></li>
          <li><a href="/terms-conditions">Terms & Conditions</a></li>
          <li><a href="/sitemap">Sitemap</a></li>
        </ul>
      </div>
      
      <div class="sf-copyright">
        <img src="http://cdn2.hubspot.net/hubfs/1793355/img/logo-brink.svg" alt="brinkman inc logo">
        <p>© {{ year }} CJWinter is a registered trademark of Brinkman Products, Inc.<a href="http://rpm.thomasnet.com/" target="_blank">Website by ThomasNet RPM</a></p>
      </div>

    </div>
  </div>

</footer>