<!--Site Footer-->
<footer class="site-footer" role="contentinfo">

  



    <div class="inner-wrap">
<p>14211 Westfair West Drive, Houston, TX 77041, USA • Toll-Free: 888-300-5708 • Fax: 832-634-2099 • 
© {{ year }} Hy-Lok USA, Inc. </p>
</div>


</footer>