<!--Site Header-->
<header class="lp-site-header" role="banner">
  <div class="inner-wrap">
    <a href="http://www.hylokusa.com/" class="site-logo"><img src="http://www.hylokusa.com/wp-content/themes/hylok-default/img/hylok-logo.jpg" alt="Hy-Lok Logo"></a>
    <div class="site-header-wrap">
      <span class="lp-site-ph"><span>888.300.5708</span></span>
    </div>
  </div>
</header>
