<!--Site Header-->
<header class="site-header" role="banner">
  <div class="inner-wrap">
    <a href="http://www.hylokusa.com/" class="site-logo"><img src="//cdn2.hubspot.net/hub/376710/file-2489786287-jpg/Images/hylok-logo.jpg?t=1461348806609" alt="Hy-Lok Logo"></a>
    <div class="site-header-wrap">
      <span class="site-ph"><span>888.300.5708</span></span>
    </div>
  </div>
</header>
