<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<script src="https://cdn.optimizely.com/js/5677430110.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="author" content="{{ site_settings.company_name }}">
    <meta name="description" content="{{ page_meta.meta_description }}">
    <meta name="generator" content="HubSpot">
    <title>{{ page_meta.html_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
            {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
            {{ include_css("custom/system/css/style.css") }}
            {{ include_javascript('custom/system/js/modernizr.min.js') }} 
            {{ standard_header_includes }}
            {{ include_default_custom_css(False) }}       
            <link href='http://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
</head>

<body class="{{ builtin_body_classes }} landing-page-gdd">
    <div class="site-wrap">
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

   