%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: $base-accent-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    background-color: darken($base-accent-color, 10%);
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn,
.btn-alt {
  @extend %button;
  line-height: em(21);
}

.btn {}

.btn-alt {
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 10%);
    color: white;
  }
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-left: 4em;
  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

//Buttons
// .btn {
//   background-color:$black;
//   display:inline-block;
//   padding:1em 1em;
//   color:$white;
//   font-weight:bold;
//   @include transition(background 0.1s linear);
//   &:hover {
//     background-color:lighten($black,5%);
//   }
// }
// .btn-important {
//   @extend .btn;
//   background-color:$base-accent-color;
//   &:hover {
//     background-color:lighten($base-accent-color,5%);
//   }
// }
.btn-outline-ico {
  @extend .btn;
  font-size: em(30);
  font-family: $header-font-family;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 4px;
  text-align: center;
  position: relative;
  padding-left: 3.75em;
  &:after {
    content: '';
    display: block;
    width: 3.83333333333333em;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: url(img/ico-map.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 4.16666666666667em;
  }
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $light-blue;
  }
}

.btn-outline-ico-map {
  @extend .btn-outline-ico;
  &:after {
    background-image: url(img/ico-map.png);
  }
}

.btn-outline-ico-catalogs {
  @extend .btn-outline-ico;
  &:after {
    background-image: url(img/ico-catalogs.png);
    background-size: 3.16666666666667em;
  }
}

.btn-outline-ico-cad {
  @extend .btn-outline-ico;
  &:after {
    background-image: url(img/ico-cad.png);
  }
}

.btn-outline-ico-video {
  @extend .btn-outline-ico;
  &:after {
    background-image: url(img/ico-play-button-video.png);
    background-size: 2.5em;
  }
}
