//Lists


//Lists
ul, ol {
    list-style-type: none;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}
.blue-bullets, .bullet-style {
    list-style-type: none;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
    
    li {
      position:relative;
      margin-bottom:$baseline;
      //font-size:em(16);
    line-height:1.5em;
    p {
      font-size:1em;
    }
      &:after {
        content:'';
        width:$base-line-height;
        height:$base-line-height;
        display:block;
        position:absolute;
        top:0;
        left:-$base-line-height;
        background-image:url(img/ico-bullet.svg);
        background-position:center center;
        background-size:em(8) em(8);
        background-repeat: no-repeat;
        
      }
    }
}
/*
.green-bullets-large {
  @extend .green-bullets;
  @include large-text;
}*/
.no-svg {
  ul, ol {
    li {
      &:after {
        background-image:url(img/ico-bullet.png);
      }
    }
  }
}


//Tables
table {
  border-collapse: collapse;
  margin: ($base-line-height / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: bold;
  padding: ($base-line-height / 2) 0;
  text-align: left;
}

td {
  border-bottom: 1px solid $base-border-color;
  padding: ($base-line-height / 2) 0;
}

tr, td, th {
  vertical-align: middle;
}






/* ==========================================================================
   Print
   ========================================================================== */

@media print {
  .utility-nav, .nav-wrap, .social-module, .related-case-studies-module {
    display: none !important;
  }
  
  .boxed-cta {
    display: none !important;
  }
  .social-wrap {
    display: none !important;
  }
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    .load-table {
      display:block !important;
    }
    .small-table {
      display:block !important;
    }
}
