@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
	$max-width: em(1200);

// Neat Breakpoints
$medium-screen:40em;
$large-screen:60em;
$xlarge-screen:80em;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

$small-screen-vertical:40em;
$medium-screen-vertical:46em;

//Media Queries
@mixin mq($mq) {
  @if $mq == smallv  { @media (max-height: $small-screen-vertical) and (min-width: $large-screen) { @content; } }
  @if $mq == mediumv  { @media (max-height: $medium-screen-vertical) and (min-width: $large-screen) { @content; } }
  @if $mq == small  { @media (max-width: $medium-screen) { @content; } }
  @if $mq == medium  { @media (min-width: $medium-screen) { @content; } }
  @if $mq == large { @media (min-width: $large-screen) { @content; } }
  @if $mq == xlarge { @media (min-width: $xlarge-screen) { @content; } }
  @if $mq == retina  { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } }
}