//Color Mixins
@mixin whitetransbg {
	background-color:$white;
	background-color:rgba(255,255,255,.15);
}



// Media Queries
///////////////////////////////////////////////////////////////////////////////
$medium:40em;
$large:60em;
$huge:80em;
@mixin mq($mq) {
  @if $mq == small  { @media (max-width: $medium) { @content; } }
  @if $mq == medium  { @media (min-width: $medium) { @content; } }
  @if $mq == large { @media (min-width: $large) { @content; } }
  @if $mq == huge { @media (min-width: $huge) { @content; } }
  @if $mq == retina  { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } }
}




// Other
///////////////////////////////////////////////////////////////////////////////
@mixin nowrap {
	white-space:nowrap;
	text-overflow:ellipsis;
}
// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}


@mixin margin-fix {
	> *:first-child {
		margin-top:0;
	}
	> *:last-child {
		margin-bottom:0;
	}
}
