body {
  border-top: em(5) solid #BE311B;
}


/*=============== Main Nav ===============*/

//Functionality
.menu,
.menu > ul ul {
  clear: both;
  padding: 0;
  @include transition (all .2s ease-in-out);
}

@include mq(medium) {
  transition: 0;
  clear: none;
}

.js .menu,
.js .menu > ul ul {
  overflow: hidden;
  max-height: 0;
  margin: 0;
}

.menu.active,
.js .menu > ul ul.active {
  max-height: 55em;
}

.menu {
  > ul {
    padding: 0;
    margin: 0;
  }
  li {
    a {
      display: block;
    }
  }
  li.has-subnav {
    position: relative;
    > a:after {
      content: '+';
      position: absolute;
      top: 1em;
      right: 1em;
      display: block;
    }
    > a.active:after {
      content: "-";
    }
  }
}

@include mq(medium) {
  .js .menu,
  .js .menu > ul ul {
    max-height: none;
    overflow: visible;
  }
  .js .menu > ul ul {
    display: none;
  }
  .menu.active,
  .js .menu > ul ul.active {
    display: block;
  }
  .js .menu > ul li:hover > ul {
    display: block;
  }
  .menu {
    ul {
      //overflow:hidden;
    }
    li.has-subnav {
      > a {
        //display:inline;
      }
      > a:after {
        content: "";
        display: inline-block;
        position: static;
        top: .25em;
        bottom: auto;
        right: 8%;
        width: 16px;
        height: 16px;
        margin-left: .15em;
        background-image: url(img/ico-arrowdown.svg);
        background-size: em(12) em(12);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    .level-1 {
      background: none;
    }
    > ul {
      > li {
        display: block;
        float: left;
        position: relative;
      }
      ul {
        position: absolute;
        top: 0;
        left: 12em;
        width: 17em;
        li {
          position: relative;
        }
      }
      ul.sub-menu {
        top: 2.2em;
        left: 0;
        z-index: 1000;
      }
    }
  }
}

@include mq(medium) {
  .sh-sticky-wrap {
    background-color: $white;
  }
  .sh-sticky-wrap.stuck {
    .site-nav {
      background-color: $white;
      border-bottom: 1px solid $light-gray;
      left: 0;
      padding-top: em(10);
      padding-bottom: em(10);
      position: fixed;
      right: 0;
      top: 0;
      z-index: 85;
    }
  }
}

//Design
.menu-link {
  width: em(32);
  //float:right;
  position: absolute;
  right: $baseline*2;
  top: $baseline*3;
  text-align: center;
  background: url(img/ico-nav.svg) top center no-repeat;
  span {
    font-size: em(12);
    display: block;
    padding-top: 1.4em;
    color: $black;
  }
}

.no-svg {
  .menu-link {
    span {
      background: url(img/ico-nav.png) center center no-repeat;
    }
  }
}

//Main Wrap
.menu {
  a {
    font-family: $header-font-family;
  }
}

//Main li's
.level-1 {
  > li {
    border-top: 1px solid black;
    a {
      padding: 1em 2em 1em 1em;
      //color:blue;
    }
    &:first-child {
      border-top: 0;
    }
  }
  li.has-subnav {
    .active {
      background: purple;
    }
  }
}

//Secondary Li's
.sub-menu {
  z-index: 1;
  li {
    a {
      font-size: .8em;
      background-color: white;
      text-align: left;
      /*background-image: url(img/ico-arrow.svg);
      background-position:95% 50%;
      background-repeat:no-repeat;
      background-size:0.625em 1.125em;*/
    }
    border-top:1px solid grey;
    &:first-child {}
  }
}

.no-svg {
  .sub-menu {
    li {
      a {
        //background-image: url(img/ico-arrow.png);
      }
    }
  }
}

@include mq(medium) {
  //Main Wrap
  .menu {}
  //Main li's
  .level-1 {
    text-align: center;
    > li {
      border-top: 0;
      border-radius: 5px;
      a {
        padding: .27em 0em;
        //border-radius:5px;
        &:hover {
          background: $light-gray;
        }
      }
      &:hover {
        //background:grey;
      }
    }
  }
  .sub-menu {
    li {
      a {
        font-size: .75em;
        padding: .8em 1.8em;
        background-color: #fff;
        text-align: left;
        box-shadow: inset 0 -2em 4em #dbdbdb;
        &:hover {
          background-color: #c8c8c8;
        }
      }
      border-top:1px solid #fff;
    }
  }
}

@include mq(large) {
  .menu {}
  .level-1 {
    text-align: center;
    > li {
      a {
        font-size: em(21);
        font-weight: bold;
      }
    }
  }
}

@include mq(medium) {
  .nav-1 {
    width: 11.54739652870493%;
  }
  .nav-2 {
    width: 11.75166889185581%;
  }
  .nav-3 {
    width: 13.822429906542055%;
  }
  .nav-4 {
    width: 18.359145527369826%;
  }
  .nav-5 {
    width: 9.484646194926569%;
  }
  .nav-6 {
    width: 12.285714285714285%;
  }
  .nav-7 {
    width: 18.748998664886514%;
  }
  .nav-7-gdd {
    width: 18.748998664886514%;
  }
  .nav-8 {
    width: 4%;
  }
}

.nav-search {
  a {
    background-image: url(img/ico-search.svg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: em(16);
    text-indent: -99999em;
    &:hover {
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-size: em(16) !important;
    }
  }
}


/*=============== Social Media ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 16.66666666666667%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
   }*/
}


/*=============== Design Patterns ===============*/

//Wraps
.inner-wrap {
  @include outer-container;
}

.dark-module {
  color: $white;
  a {
    color: $white;
    &:visited {
      color: $white;
    }
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

//Media Object
.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}

//Other
aside.blog {
  background: #efefef;
  border-radius: 8px;
  padding: 2em;
}

.blog {
  a {
    font-weight: normal;
  }
  .hs-button {
    text-shadow: none !important;
    border: none !important;
    font-size: 1em !important;
    padding: 1em 1.4em !important;
  }
  .hs-form {
    .actions {
      padding: 0 0 20px 26px !important;
    }
  }
}

.post-meta {
  margin-bottom: $baseline*2;
}

.wp-pagenavi a,
.wp-pagenavi span {
  border: 0 !important;
  margin-right: 2em;
  padding: .7em;
  border-radius: 6px;
}

.wp-pagenavi a {
  background: #f0f0f0;
}

.wp-pagenavi {
  padding-top: 2em;
  margin-top: 1em;
  border-top: 1px solid #ddd;
  .current {
    background: #ccc;
  }
}

.arrowright-link {
  position: relative;
  display: inline-block;
  padding-right: 1.2em;
  /*48px / 40px*/
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 0.875em;
    /*35px / 40px*/
    bottom: 0;
    top: 0;
    right: 0;
    //background-color:red;
    background-image: url(img/ico-arrowright-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.875em;
  }
}


/*=============== Javascript Related ===============*/

.headexpand {
  position: relative;
  border-bottom: 1px solid $dark-gray;
  padding: $baseline*1.5 0;
  margin: 0;
  &:hover {
    //background:red;
  }
  &:after {
    position: absolute;
    right: $baseline;
    content: "+";
    margin-left: 1em;
  }
  &.active {
    &:after {
      content: "-";
    }
  }
  @include mq(medium) {
    &:after {
      display: none;
    }
    border-bottom:0;
    padding:0;
    //margin-top:0.92307692307692em;/* Baseline*3 */
    //margin-bottom:0.38095238095238em;/* Baseline */
  }
}

.headexpand-wrap {
  > *:last-child {
    overflow: hidden;
    max-height: 0;
    //display:none;
    @include transition (all .2s ease-in-out);
  }
  > *:last-child.active {
    max-height: 100em;
  }
  @include mq(medium) {
    > *:last-child {
      overflow: visible;
      max-height: none;
      //display:none;
      @include transition (all .2s ease-in-out);
    }
    > *:last-child.active {
      max-height: auto;
    }
  }
}


/*=============== Site Header ===============*/

.site-header {
  .inner-wrap {
    position: relative;
  }
  @include mq(medium) {
    .inner-wrap {
      padding-top: $baseline*3;
      padding-bottom: $baseline*3;
    }
  }
}

.lp-site-header {
  border-bottom: $base-border;
  .inner-wrap {
    position: relative;
  }
  @include mq(medium) {
    .inner-wrap {
      padding-top: $baseline*3;
      padding-bottom: $baseline*3;
    }
  }
}

.landing-page-header {
  @extend .site-header;
  @extend .site-intro;
  padding-top: 0em;
  padding-bottom: 15em;
  .inner-wrap {
    padding-top: 0em;
  }
}

.landing-page-ph-number {
  float: right;
  background-color: white;
  color: $dark-blue;
  padding: 1em;
}

.site-logo {
  @include span-columns(3 of 6);
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
  @include mq(large) {
    padding-bottom: $baseline*2.5;
  }
}

.landing-site-logo {
  @extend .site-logo;
  display: block;
  background-color: white;
  padding: 1em 1em 3em 1em;
  position: absolute;
  img {
    padding-top: 1em;
  }
}

.utility-nav {
  text-align: right;
  font-family: $header-font-family;
  .inner-wrap {
    padding-top: $baseline;
    padding-bottom: $baseline;
  }
  .social-wrap {
    display: none;
    width: 15em;
  }
  .site-search {
    display: none;
  }
  .ico-iso {
    display: none;
  }
  @include mq(medium) {
    display: block;
    line-height: em(40);
    .site-search {
      display: block;
      float: right;
      width: 20em;
    }
    .social-wrap {
      display: inline-block;
    }
    .site-ph,
    .site-email {
      line-height: em(40);
      vertical-align: top;
    }
    .site-email {
      text-indent: -99999em;
      text-align: left;
    }
    .site-ph {
      span {
        font-size: em(21);
      }
    }
    .ico-iso {
      display: inline-block;
    }
  }
  @include mq(large) {
    margin-bottom: $baseline*1.5;
  }
}

.site-ph {
  padding-left: 1.2em;
  background-image: url(img/ico-ph.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 1em;
  display: none;
  @include mq(medium) {
    display: inline-block;
  }
}

.site-email {
  display: none;
  padding-left: 2em;
  background-image: url(img/ico-email.svg);
  background-repeat: no-repeat;
  background-position: left center;
  @include mq(medium) {
    display: inline-block;
  }
}


/*=============== Site Intro ===============*/

.site-intro {
  background-image: url(img/site-intro-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .inner-wrap {
    padding-bottom: 0;
  }
  @include mq(medium) {
    background-image: url(img/site-intro-bg.jpg);
  }
  @include mq(huge) {}
}

.home,
.page-template-front-page1 {
  .flexslider .slides {}
  .site-intro {
    .inner-wrap {
      padding-bottom: $baseline*3 !important;
      @include mq(medium) {
        padding-bottom: $baseline*3 !important;
      }
      @include mq(large) {
        .site-intro-body {
          padding-top: $baseline*3;
        }
      }
    }
  }
}

.site-intro-img {
  display: none;
  @include mq(medium) {}
  @include mq(large) {
    display: block;
    @include span-columns(5 of 12);
    @include animation(fadeInSide 1.5s 1);
    @include animation-fill-mode(backwards);
    @include animation-delay(.2s);
    img {
      max-width: 85%;
    }
  }
}

.site-intro-h1 {
  color: $white;
  font-size: em(27);
  b {}
  span {
    font-style: normal;
  }
  @include mq(medium) {
    font-size: em(36);
    line-height: 1.65em;
    b {
      display: block;
      font-size: 1.94444444444444em;
      line-height: 1.3em;
    }
    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.site-intro-body {
  text-align: center;
  @include mq(large) {
    @include span-columns(7 of 12);
    @include omega;
    text-align: right;
  }
}

.site-intro-cta-wrap {
  margin-top: em(30);
  position: relative;
  .site-intro-cta {
    font-size: em(16);
  }
  .site-intro-cta-first {
    @extend .site-intro-cta;
    margin-bottom: .5em;
  }
  .site-intro-cta-last {
    @extend .site-intro-cta;
    margin-left: .5em;
    margin-bottom: .5em;
  }
  .site-intro-cta-third {
    @extend .site-intro-cta;
    margin-left: .5em;
  }
  @include mq(medium) {
    margin-top: em(60);
    .site-intro-cta {
      font-size: em(27);
    }
    .site-intro-cta-last {
      margin-left: 1em;
    }
    @include animation(fadeIn 1.5s 1);
    @include animation-fill-mode(backwards);
    @include animation-delay(.2s);
    .site-intro-cta-third {
      margin-bottom: .2em;
    }
  }
  @include mq(large) {
    float: right;
    text-align: center;
    max-width: em(550);
  }
}

@include keyframes(fadeIn) {
  from {
    //@include transform(scale(0));
    @include transform(translateY(100px));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    @include transform(translateY(0px));
    opacity: 1;
  }
}

@include keyframes(fadeInSide) {
  from {
    //@include transform(scale(0));
    @include transform(translateX(-100px));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    @include transform(translateX(0px));
    opacity: 1;
  }
}


/*=============== Products Module ===============*/

.products-module {
  background-color: $dark-blue;
  overflow: hidden;
}

.products-module-item {
  float: left;
  width: 33.33333%;
  text-align: center;
  padding: 1em;
  @include transition (background .1s ease-in-out);
  .products-module-img {
    img {
      @include transition (all .1s ease-in-out);
    }
  }
  &:hover {
    background-color: lighten($blue, 3%);
    .products-module-img {
      img {
        @include transform(scale(1.05));
      }
    }
  }
  @include mq(medium) {
    padding: 1.5em;
    text-align: right;
  }
  @include mq(large) {
    padding: 2em;
  }
}

.products-module-item-1 {
  @extend .products-module-item;
}

.products-module-item-2 {
  @extend .products-module-item;
  background-color: $blue;
}

.products-module-item-3 {
  @extend .products-module-item;
}

.products-module-img {
  margin-bottom: $baseline;
  @include mq(medium) {
    margin-bottom: $baseline*3;
  }
}

.products-module-title {
  margin-bottom: 0;
  color: $white;
  font-size: 1em;
  padding-right: 0;
  &:after {
    display: none;
  }
  @include mq(medium) {
    font-size: em(30);
    padding-right: 1.2em;
    &:after {
      display: block;
    }
  }
  @include mq(large) {
    font-size: em(40);
  }
}


/*=============== Site Content ===============*/

.page-intro-header {
  text-align: left;
  color: white;
  font-size: 2.8em;
  background-color: $dark-blue;
  display: inline-block;
  padding: 0.3em 1em;
  margin-top: -$baseline*1;
  @include mq(medium) {
    margin-top: -$baseline*3;
  }
}

.site-content {
  a {
    font-weight: bold;
  }
}

.site-content-primary {
  @include margin-fix;
  @include mq(large) {
    &.fullwidth {
      @include span-columns(12 of 12);
      @include omega;
    }
  }
  h2 {
    color: $dark-blue;
    font-size: 2em;
  }
  padding-bottom: 0;
}

.site-content-page-aside {
  .site-content-primary {
    @include mq(large) {
      @include span-columns(9 of 12);
    }
  }
  .site-content-secondary {
    @include mq(large) {
      @include span-columns(3 of 12);
    }
  }
}

.offer-description {
  display: block;
}

.offer-cover-thumb {
  border: 1px solid #ddd;
  display: block;
  float: right;
  width: 230px;
  clear: both;
  margin-bottom: 2em;
  margin-left: 2em;
}

.site-content-secondary {
  @include omega;
  @include mq(medium) {}
  @include mq(large) {
    //@include span-columns(3 of 12);
    //@include omega;
    > *:first-child {
      margin-top: 0;
    }
  }
  img {
    padding-bottom: 1em;
  }
  .products-module-item {
    width: 50%;
    padding: 1em;
    @include transition (background .1s ease-in-out);
    .products-module-img {
      img {
        @include transition (all .1s ease-in-out);
      }
    }
    &:hover {
      background-color: lighten($blue, 3%);
      .products-module-img {
        img {
          @include transform(scale(1.05));
        }
      }
    }
    @include mq(medium) {
      padding: 1em;
      text-align: right;
    }
    @include mq(large) {
      padding: 1.5em;
    }
  }
  .products-module-item-1 {
    @extend .products-module-item;
    background-color: $dark-blue;
  }
  .products-module-item-2 {
    @extend .products-module-item;
    background-color: $blue;
  }
  .products-module-item-3 {
    @extend .products-module-item;
    background-color: $blue;
  }
  .products-module-item-4 {
    @extend .products-module-item;
    background-color: $dark-blue;
  }
  .products-module-img {
    margin-bottom: $baseline;
    @include mq(medium) {
      margin-bottom: $baseline*3;
    }
  }
  .products-module-title {
    margin-bottom: 0;
    color: $white;
    font-size: 1.5em;
    padding-right: 0;
    &:after {
      display: none;
    }
    @include mq(medium) {
      font-size: em(30);
      padding-right: 1.2em;
      &:after {
        display: block;
      }
    }
    @include mq(large) {
      font-size: em(20);
    }
  }
  .download-form {
    clear: both;
  }
  .form-title {
    font-family: $base-font-family;
    font-weight: normal;
    font-size: 0.9em;
  }
  .submit-button {
    background-color: $blue;
    border: none;
    color: white;
    margin-top: 2em;
    font-family: $header-font-family;
    font-size: 1.6em;
    padding: 0.4em;
  }
}

.cta-aside {
  max-width: 17em;
  %button,
  %btn-ico {
    display: block;
    margin-bottom: 1em;
    padding: 1.5em 1.5em;
    line-height: em(20);
    text-align: center;
    font-weight: 600;
  }
  %btn-ico {
    padding: 1.5em 1.5em 1.5em 3.5em;
    text-align: left;
  }
}


/*=============== CAD Module ===============*/

.cad-module {
  background-image: url(img/hylok-cad-bg.jpg);
  background-size: 100% auto;
  border-bottom: $base-border;
  h3 {
    font-size: 1.7em;
    font-weight: normal;
  }
  .inner-wrap {
    padding: 3em 5em;
  }
  @include mq(medium) {
    h3 {
      font-size: 2.6em;
      font-weight: normal;
    }
    .inner-wrap {
      padding: 4em 8em;
    }
  }
  .btn {
    background-color: $blue;
    font-size: em(25);
    font-family: $header-font-family;
    display: inline-block;
    padding: .8em 3.2em .8em 1.2em;
    color: $white;
    font-weight: normal;
    border-radius: 5px;
    position: relative;
    &:hover {
      background-color: lighten($blue, 5%);
      color: #fff;
    }
    &:after {
      content: '';
      display: block;
      width: 3.5em;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background-image: url(img/ico-arrowright-circle.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 1.5em;
    }
  }
}

.cad-module-container {
  background: rgba(250, 250, 250, .6);
  padding: 2em 1em;
  text-align: center;
}

.cad-module-header {
  color: #BE311B;
  margin-bottom: 1em;
}


/*=============== Offers Module ===============*/

.offers-module {
  background: $dark-blue;
  @extend .dark-module;
  h4 {
    color: $white;
    line-height: 1.7em;
  }
  .trade-show-list {
    //font-size: 0.8em;
    font-weight: normal;
    font-size: em(14);
    &:hover {
      text-decoration: underline;
    }
  }
  .btn {
    background-color: $blue;
    font-size: em(25);
    font-family: $header-font-family;
    display: block;
    padding: .8em 3.2em .8em 1.2em;
    color: $white;
    font-weight: normal;
    border-radius: 5px;
    position: relative;
    border: 3px solid $dark-blue;
    margin-bottom: 0.3em;
    margin-top: .4em;
    &:hover {
      background-color: lighten($blue, 5%);
      color: #fff;
    }
    &:after {
      content: '';
      display: block;
      width: 3.5em;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background-image: url(img/ico-arrowright-circle.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 1.5em;
    }
    @include mq(medium) {
      /*margin-top: 1em;*/
      display: inline-block;
      border: none;
    }
  }
  .inner-wrap {
    padding-top: 3.5em;
    border-bottom: 1px solid $blue;
  }
}

.offer-cta {
  //background-color:red;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 5em;
  display: block;
  padding: $baseline*2 $baseline*2 $baseline*2 $baseline*12;
  margin-bottom: $baseline*3;
  transition: all 0.1s linear;
  p {
    @extend h3;
    color: $white;
    padding: 0;
    margin: 0;
  }
  @include mq(medium) {
    background-size: 7em;
    padding: 10em $baseline*2 $baseline*2 $baseline*2;
    background-position: top center;
    p {
      text-align: center;
    }
  }
  &:hover {
    opacity: .75;
  }
}

.img-file {
  background-image: url(img/offer-cta-files.png);
}

.img-ribbon {
  background-image: url(img/offer-cta-ribbon.png);
}


/*
.offer-cta {
  color: #fff;
  text-align: center;
  font-family: $header-font-family;
  font-size: em(25);
  &:hover {
    color: $light-blue;
  }
  &:visited {
    color: $white;
  }
  p {
    padding: 1em;
    border-radius: 5px;
    text-align: left;
    padding-left: 5em;
    @include mq(medium) {
      text-align: center;
      padding-left: 0;
    }
  }

  
}

.img-file {
  position: relative;
  padding-top: 7.5em;
  &:after {
    content:'';
    display:block;
    width:2.8em;
    top:-4em;
    left:1em;
    position:absolute;
    background-image:url(img/offer-cta-files.png);
    background-position:left top;
    background-repeat:no-repeat;
    background-size:2.8em;
    height: 3.2em;
  }
  @include mq(medium) {
    &:after {
    left: 1.4em;
    width:5.8em;
    background-size:5.8em;
    top:0;
    bottom:1em;
    background-position:center top;
    height: auto;
    }
  }
  @include mq(large) {
    &:after {
    left:3.5em;
    }
  }
}
.img-ribbon {
  position: relative;
  padding-top: 7.5em;
  &:after {
    content:'';
    display:block;
    width:2.6em;
    top:-4.2em;
    left:1em;
    position:absolute;
    background-image:url(img/offer-cta-ribbon.png);
    background-position:left top;
    background-repeat:no-repeat;
    background-size:2.6em;
    height: 3.6em;
  }
  @include mq(medium) {
    &:after {
    left: 1.5em;
    width:5.8em;
    background-size:5.8em;
    top:0;
    bottom:1em;
    background-position:center top;
    height: auto;
    }
  }
  @include mq(large) {
    &:after {
    left:3.6em;
    }
  }
}
*/


/*=============== Product Grid ===============*/

.product-carousel {
  margin-top: $baseline*4;
  margin-bottom: 0;
}

.product-grid-item {
  display: block;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  text-decoration: none;
  padding: $baseline*2;
  @include margin-fix;
  p,
  ul {
    //display:none !important;
    font-size: em(14);
    font-weight: normal;
    color: $black;
    margin-bottom: 0;
  }
  ul {
    text-align: left;
    list-style-type: none;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
    li {
      position: relative;
      margin-bottom: $baseline;
      //font-size:em(16);
      line-height: 1.5em;
      p {
        font-size: 1em;
      }
      &:after {
        content: '';
        width: $base-line-height;
        height: $base-line-height;
        display: block;
        position: absolute;
        top: 0;
        left: -$base-line-height;
        background-image: url(img/ico-bullet.svg);
        background-position: center center;
        background-size: em(8) em(8);
        background-repeat: no-repeat;
      }
    }
  }
  &:hover {
    border: 1px solid $blue;
  }
}

.product-grid-img {
  float: none;
  margin: 0 auto;
  width: auto;
  display: block;
  //min-height: 150px;
}

.product-grid-body {
  padding: 0;
  text-align: center;
  width: auto;
  float: none;
  h2,
  h3,
  .product-grid-header {
    @extend h2;
    font-weight: bold;
    font-size: em(21) !important;
    font-family: $header-font-family;
    color: $blue;
    text-transform: none;
    //padding-bottom: 1em;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 1em 0 0 0;
  }
  &:last-child {
    margin-bottom: 0;
    padding: 0;
  }
}


/*=============== Site Footer ===============*/

.site-footer {
  background: $dark-blue;
  ;
  color: $light-blue;
  text-align: center;
  border-bottom: 5px solid #BE311B;
  p {
    font-size: em(14);
  }
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}


/*=============== Tables ===============*/

.table {
  display: block;
  width: 100%;
  //margin:0 0 1em 0;
  margin-bottom: $baseline*3;
  background: lighten($light-gray, 12%);
  //font-size:em(14);
}

.thead {
  display: block;
}

.table-row {
  display: block;
  width: 100%;
  //border-bottom:1px solid $gray;
}

.colored-rows {
  .row {
    &:nth-child(2n+1) {
      .cell {}
    }
  }
}

.cell {
  display: block;
  //background-color:$greylight;
  border: .2em solid $white;
  padding: .5em .8em;
  vertical-align: top;
  //color:$blue;
  p {
    //font-size:.95em;
    margin: .5em 0;
  }
  > ul {
    margin: .5em 0;
    > li {
      margin-bottom: 0 !important;
      //font-size:.7em;
      ul {
        padding: 0 0 0 1.8em;
      }
    }
  }
  input,
  select {
    width: 100%;
  }
}

.col {
  display: table-column;
}

.spec-col-1 {
  width: 100%;
  // border-top:1px solid $light-gray;
}

.spec-col-2 {
  width: 100%;
  // border-top:1px solid $light-gray;
}

@include mq(medium) {
  .table {
    display: table;
  }
  .thead {
    display: table-header-group;
  }
  .table-row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    p {
      font-size: em(16);
    }
  }
  .spec-col-1 {
    width: 30%;
  }
  .spec-col-2 {
    width: 70%;
  }
}


/*=============== Product Intro ===============*/

.product-intro {
  h2 {
    //color:$beigedark;
    font-size: em(24);
  }
  margin-bottom:$baseline*3;
}

.product-intro-header {
  //color:$beigedark;
}

.product-intro-img {
  text-align: center;
  @include mq(medium) {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
    //@include span-columns(3 of 9);
  }
  @include mq(large) {
    padding: 0;
  }
}

.product-intro-img-additional {
  display: inline-block;
  margin-top: .25em;
  img {
    width: 5em;
    height: auto;
  }
}

.product-intro-info {
  @include mq(medium) {
    //@include span-columns(6 of 9);
  }
  > * {
    margin-top: 0;
  }
  ul,
  p {
    //font-size:em(14);
  }
  @include mq(medium) {
    clear: both;
  }
  @include mq(large) {
    clear: none !important;
  }
}

.product-intro-additional {
  font-size: .75em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0 0 .75em 0;
    padding: 0;
  }
  @include mq(medium) {
    //@include span-columns(2 of 9);
    font-size: .75em;
  }
  > * {
    margin-top: 0;
  }
  @include mq(large) {
    float: right !important;
  }
}


/*=============== Slide in CTA ===============*/

#last {
  padding: 0;
  margin: 0;
}

#slidebox {
  padding: 10px 10px 10px 16px;
  //background-color: #fff;
  //border-top: 3px solid #F7761F;
  position: fixed;
  bottom: 0;
  right: -430px;
  //-moz-box-shadow: -2px 0 5px #aaa;
  // -webkit-box-shadow: -2px 0 5px #aaa;
  //box-shadow: -2px 0 5px #aaa;
  z-index: 1000;
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: $baseline;
  font-size: em(11);
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  line-height: 1em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}

@media only screen and (max-device-width: 480px) {
  #slidebox {
    width: 100%;
  }
}


/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  //border: 1px solid #a00000;
  background: $white;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.030769230769231em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  margin-bottom: 0 !important;
  width: 100%;
  height: 1.625em;
  border: 0;
  float: right;
  color: transparent !important;
  background: url(img/ico-search.svg) no-repeat center center $white !important;
}

.no-svg {
  .search-submit {
    background: url(img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 1.846153846153846em;
  }
  .search-submit {
    height: 1.5em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
  .search-submit {
    height: 1.625em;
  }
}

.search-module {
  background-color: #BE311B;
  height: em(80);
  margin-top: em(-80);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
}

.search-exit {
  position: absolute;
  top: 0;
  right: 0;
}


/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
  border: 1px solid $gray;
  @include span-columns(12 of 12);
  text-align: center;
  padding: $baseline;
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}

.product-item-header {}

.product-item-img {}

.product-item-cta {}


/*=============== HubSpot Pages ===============*/

.lp-site-logo {
  max-width: 17em;
  img {}
  float: left;
}

.hs-page {
  h1 {
    color: #152d58;
  }
  .site-intro {
    .inner-wrap {
      padding: 0 1.5em 4.5em;
    }
  }
  .site-logo {
    img {
      padding: 2em;
      background: #fff;
    }
  }
  .site-ph {
    padding: 1.5em;
    padding-left: 2.2em;
    background-color: #fff;
    position: absolute;
    top: 9.1em;
    right: 0;
    background-position: .6em center;
  }
}

.hs-page .site-header-wrap {
  position: relative;
}

.hs-button {
  background: #BE311B !important;
  color: #fff;
  padding: .7em 1.3em;
  border: none;
  margin-top: 1em;
  border-radius: 5px;
}


/*=============== CTA Banner ===============*/

.cta-banner {
  background-color: $light-gray;
  border: 2px solid $blue;
  border-radius: 5px;
  &:visited {}
  &:hover {
    border: 2px solid $red;
  }
}


/* Hubspot form controls */

.form-module {
  background-color: $light-gray;
}

.form-module h3 {
  margin-top: 0;
}

.form-module .hs-form-field {
  @include mq(medium) {
    width: 50%;
    float: left;
  }
}

.form-module .hs-input {
  padding: .5em;
}

.form-module .hs-richtext {
  display: none;
}

.form-module .hs-form .hs-button {
  font-family: 'Economica', sans-serif;
  padding: .85em 1.5em;
  font-size: 1.5em;
}


/*=================== catalog page ==================*/

// .catalogs .site-content-primary img{
//  border:solid 1px #ccc;
// }
.portal-link {
  display: none;
  float: right;
  padding-bottom: em(24);
  padding-left: em(10);
  font-weight: bold;
  &:visited {
    color: $blue;
  }
  @include mq(medium) {
    display: block;
  }
}


/*=================== Home Distributor Locator ==================*/

.dl-results-left {
  h2 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.dl-results-right {}

.home {
  .distributor-locator-module {
    background-color: rgba(0, 49, 96, .35);
  }
}

.distributor-locator-module {
  background-color: darken($dark-blue, 2%);
  @extend .dark-module;
  .dl-us-header {
    margin-top: 0;
  }
  .inner-wrap {
    max-width: 60em;
  }
  .search-form {
    height: 40px;
    overflow: hidden;
  }
  .search-cell2 {
    background-color: transparent;
    input {
      height: 40px;
    }
  }
  .search-cell1 {
    vertical-align: top;
    input {
      height: 40px;
    }
  }
  @include mq(medium) {
    h3 {
      float: right;
    }
    .col-6 {
      &:first-child {
        padding-right: 1em;
      }
      &:last-child {
        padding-left: 1em;
      }
    }
    h3 {
      margin-top: 0;
    }
    .dl-header {
      @include span-columns(6 of 12);
    }
    .dl-form {
      @include span-columns(6 of 12);
      @include omega;
    }
  }
}

%dl-header {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1.5em;
  padding-left: 1.75em;
}

.dl-us-header {
  @extend %dl-header;
  background-image: url(img/ico-usa.svg);
}

.dl-int-header {
  @extend %dl-header;
  background-size: 1em;
  padding-left: 1.35em;
  background-image: url(img/ico-world.svg);
}


/*===================Distributor Locator Popup ==================*/

.distributor-locator-popup {
  max-width: em(465);
  margin: 0 auto;
  position: relative;
  .ico-us-flag {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    width: 1.2em;
  }
  .us-dis-list {
    padding: 1em 0 2.5em 0;
    border-bottom: 1px solid $medium-gray;
    font-size: 1.1em;
    text-align: center;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .ico-international-flags {
    img {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.5em;
      width: 10%;
    }
  }
}

.hide-nav-item {
  display: none !important;
}

// .gdd-dl-popup-v2 {
//   .gdd-dl-international {
//     display:none !important;
//   }
// }
// .gdd-dl-popup-v1 {
//   .nav-7 {
//    display:none !important;
//   }
//   .nav-7-gdd {
//   }
//   .gdd-dl-international {
//     display:none!important;
//   }
// }

/*=================== Bread Crumbs ==================*/

.breadcrumb-nav {
  .inner-wrap {
    padding-top: $baseline !important;
    padding-bottom: $baseline !important;
  }
}


/*=================== Bread Crumbs ==================*/

.hs-landing-page.ab-landing-page {
  background-color: $dark-blue;
  border-top: 0;
  .body-container-wrapper {
    background-color: $white;
  }
  .site-intro {
    background-color: $white;
    background-image: none;
    border-bottom: $base-border;
  }
  .site-footer {
    border-bottom: 0;
  }
  .span8 {
    @include span-columns(8 of 12);
  }
  .span4 {
    @include span-columns(4 of 12);
  }
  .hs_cos_wrapper_type_form {
    background-color: $light-gray;
    padding: 1em;
    display: block;
    border-top: 5px solid $red;
    h3 {
      margin-top: 0;
    }
  }
}


/*=============== Landing Page GDD ===============*/

.landing-page-gdd {
  border-top: 0;
  background-color: $dark-blue;
  .site-content {
    background-color: $white;
  }
  .site-footer {
    border-bottom: 0;
  }
  .lp-site-header {
    border-top: 0;
    background-color: $white;
  }
  .hs_cos_wrapper_type_form {
    background-color: $light-gray;
    padding: 1em;
    display: block;
    border-top: 5px solid $red;
    h3 {
      margin-top: 0;
    }
  }
}

.lp-site-ph {
  padding-left: 1.2em;
  background-image: url(http://www.hylokusa.com/wp-content/themes/hylok-default/img/ico-ph.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 1em;
  display: none;
  margin-left: 1em;
  @include mq(medium) {
    display: inline-block;
  }
}

.catalog-item {
  text-align: center;
  display: inline-block;
  img {
    border: 1px solid $blue;
  }
  &:hover {
    img {
      border: 1px solid $red;
    }
  }
}

.text-center {
  text-align: center !important;
}

.sitemap {
  .sub-menu {
    margin: 0;
    padding: 0;
    li {
      a {
        font-size: 1em;
        padding: 0 em(15) 0;
        box-shadow: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
