.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}



/*=============== Layout Patterns ===============*/
.last {
	@include mq(medium) {
		@include omega;
		margin-right:0 !important;
	}
}
.col-last {
	@include mq(medium) {
		@include omega;
		margin-right:0 !important;
	}
}
.row {
	@include row();
	clear:both;
}
@include mq(medium) {
	.col-1 {
		@include span-columns(1 of 12);
	}
	.col-2 {
		@include span-columns(2 of 12);
	}
	.col-3 {
		@include span-columns(3 of 12);
	}
	.col-4 {
		@include span-columns(4 of 12);
	}
	.col-5 {
		@include span-columns(5 of 12);
	}
	.col-6 {
		@include span-columns(6 of 12);
	}
	.col-7 {
		@include span-columns(7 of 12);
	}
	.col-8 {
		@include span-columns(8 of 12);
	}
	.col-9 {
		@include span-columns(9 of 12);
	}
	.col-10 {
		@include span-columns(10 of 12);
	}
	.col-11 {
		@include span-columns(11 of 12);
	}
	.col-12 {
		@include span-columns(12 of 12);
	}

	.col-1of9 {
		@include span-columns(1 of 9);
	}
	.col-2of9 {
		@include span-columns(2 of 9);
	}
	.col-3of9 {
		@include span-columns(3 of 9);
	}
	.col-4of9 {
		@include span-columns(4 of 9);
	}
	.col-5of9 {
		@include span-columns(5 of 9);
	}
	.col-6of9 {
		@include span-columns(6 of 9);
	}
	.col-7of9 {
		@include span-columns(7 of 9);
	}
	.col-8of9 {
		@include span-columns(8 of 9);
	}
	
	.col-1of2 {
		@include span-columns(1 of 2);
	}
	.col-last {
		@include omega;
		margin-right:0 !important;
	}
}
@include mq(small) {
	.col-1-m {
		@include span-columns(1 of 12);
	}
	.col-2-m {
		@include span-columns(2 of 12);
	}
	.col-3-m {
		@include span-columns(3 of 12);
	}
	.col-4-m {
		@include span-columns(4 of 12);
	}
	.col-5-m {
		@include span-columns(5 of 12);
	}
	.col-6-m {
		@include span-columns(6 of 12);
	}
	.col-7-m {
		@include span-columns(7 of 12);
	}
	.col-8-m {
		@include span-columns(8 of 12);
	}
	.col-9-m {
		@include span-columns(9 of 12);
	}
	.col-10-m {
		@include span-columns(10 of 12);
	}
	.col-11-m {
		@include span-columns(11 of 12);
	}
	.col-12-m {
		@include span-columns(12 of 12);
	}

	.col-1of9-m {
		@include span-columns(1 of 9);
	}
	.col-2of9-m {
		@include span-columns(2 of 9);
	}
	.col-3of9-m {
		@include span-columns(3 of 9);
	}
	.col-4of9-m {
		@include span-columns(4 of 9);
	}
	.col-5of9-m {
		@include span-columns(5 of 9);
	}
	.col-6of9-m {
		@include span-columns(6 of 9);
	}
	.col-7of9-m {
		@include span-columns(7 of 9);
	}
	.col-8of9-m {
		@include span-columns(8 of 9);
	}
	
	.col-1of2 {
		@include span-columns(1 of 2);
	}
	.col-last {
		@include omega;
		margin-right:0 !important;
	}
}


.rows-of-2 {
	@include row();
	> * {
		margin-bottom:$baseline*3;
		display:block;
		position:relative;
		> * {
			&:first-child {
				margin-top:0;
			}
		}
		@include mq(medium) {
			
			@include span-columns(6 of 12);
			@include omega(2n);
			&:nth-last-child(2) {
			   &:last-child {
			   		margin-bottom:0 !important;
			   }
			}
			&:nth-last-child(1) {
			   	&:last-child {
			   		margin-bottom:0 !important;
			   }
			}
		}
	}
}
.lt-ie9 {
	.rows-of-2 {
		@include row();
		> * {
			margin-bottom:$baseline*3;
			display:block;
			position:relative;
			> * {
				&:first-child {
					margin-top:0;
				}
			}
			@include mq(medium) {
				float:left;
				width:50% !important;
				margin-left:0 !important;
				margin-right:0 !important;
				padding-left:$baseline*2;
				padding-right:$baseline*2;
				display:inline-block !important;
				clear:none !important
			}
		}
	}
}

.rows-of-3 {
	@include row();
	> * {
		margin-bottom:$baseline*3;
		display:block;
		position:relative;
		> * {
			&:first-child {
				margin-top:0;
			}
		}
		@include mq(medium) {
			
			@include span-columns(4 of 12);
			@include omega(3n);
			 
		}
	}
}
.lt-ie9 {
	.rows-of-3 {
		@include row();
		> * {
			margin-bottom:$baseline*3;
			display:block;
			position:relative;
			> * {
				&:first-child {
					margin-top:0;
				}
			}
			@include mq(medium) {
				
				float:left;
				width:33.3% !important;
				margin-left:0 !important;
				margin-right:0 !important;
				padding-left:$baseline*2;
				padding-right:$baseline*2
				 
			}
		}
	}
}
.rows-of-4 {
	@include row();
	> * {
		margin-bottom:$baseline*3;
		display:block;
		position:relative;
		> * {
			&:first-child {
				margin-top:0;
			}
		}
		@include mq(medium) {
			
			@include span-columns(3 of 12);
			@include omega(4n);

			
		}
	}
}
.lt-ie9 {
	.rows-of-4 {
		@include row();
		> * {
			margin-bottom:$baseline*3;
			display:block;
			position:relative;
			> * {
				&:first-child {
					margin-top:0;
				}
			}
			@include mq(medium) {
				
				float:left;
				width:25% !important;
				margin-left:0 !important;
				margin-right:0 !important;
				padding-left:$baseline*2;
				padding-right:$baseline*2;				
			}
		}
	}
}

.mobile-rows-of-2 {
	@include mq(small) {
		@include row();
		> * {
			margin-bottom:$baseline*3;
			display:block;
			position:relative;
			> * {
				&:first-child {
					margin-top:0;
				}
			}
			&:nth-last-child(1) {
				background-color:red;
				margin-bottom:0;
			}
			&:nth-last-child(2) {
				background-color:green;
				margin-bottom:0;
			}
			@include span-columns(2 of 4);
			@include omega(2n);
		}
	}
}


/*
.col-2-3 {
	@include span-columns(3 of 6);
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}
.col-2-last-3 {
	@include span-columns(3 of 6);
	margin-right:0;
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}
.col-2-3-last {
	@include span-columns(3 of 6);
	@include mq(medium) {
		@include span-columns(4 of 12);
		margin-right:0;
	} 
}*/


.emph-wrap {
	background-color:$light-gray;
	border-radius:5px;
	padding:$baseline*3;
	@include margin-fix;
}




/*=============== Layouts  ===============*/



.site-content {
  @include mq(large) {
    &.one-column {
      .site-content-primary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .site-content-secondary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.two-column {
      .site-content-primary {
        @include span-columns(9 of 12);
      }
      .site-content-secondary {
        @include span-columns(3 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.three-column {
      .site-content-primary {
        @include span-columns(4 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
      }
      .additional-content {
        @include span-columns(4 of 12);
        @include omega;
      }
    }
    &.two-column-alt {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
  }
}




/*=============== Resources Module ===============*/

.resources-module {
  background-color: $white;
 
  .inner-wrap {
  	padding-top:0;
  }
}
.home {
	.resources-module {
  
  .inner-wrap {
  	 @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
  }
}
}
.rm-item {
	@extend .product-grid-item;
  text-align: center;
  //background-color: $light-gray;
  background-color:white;
  padding: 1em !important;
  &:hover {
    .rm-item-img {
      @include transform(scale(1.05));
    }
  }
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.rm-item-cta {
  font-size: .75em;
  // padding: 0.5em 1em;
  font-weight: bold;
}

.rm-item-img {
  @include transition(all .15s ease-in-out);
  margin-bottom: $baseline*2;

  img {
    object-fit: contain;
    height:em(310);
  }
}

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  //background-color:red;
  height: 2.5em;
  line-height: 2.5em;
  color: $base-color;
  position: relative;
  z-index: 10;
  span {
    line-height: 1.25em;
    display: inline-block;
    color: $base-color;
  }
  // &:after {
  //     content: '';
  //     position: relative;
  //     display:inline-block;
  //    // background-color:red;
  //     width: .75em;
  //     height:.75em;
  //     margin-left:.25em;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-image: url(http://cdn2.hubspot.net/hubfs/1793355/img/ico-arrow-orange.svg);
  //   }
}




/*=============== Lightbox / Magnific Popup  ===============*/

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  > * {
    margin-top: 0;
  }
}


/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  @include transition (all .5s ease-in-out);
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @include transition (all .5s ease-in-out);
  @include transform(translateY(100px));
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  @include transform(translateY(0px));
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  @include transform(translateY(100px));
}

