// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'Economica', sans-serif;
$serif: $georgia;
$base-font-family:'Open Sans', sans-serif;
$header-font-family: 'Economica', sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$baseline:em(8);
$base-font-size: 1em;
$base-line-height: $base-font-size*1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////
$white:#fff;
$black:#000;
$gray: #DDD;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #efefef;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$light-blue:#3e8bd6;
$blue:#00407e;
$dark-blue:#00366a;
$red:#BE311B;


// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
//$base-accent-color: $blue;
$base-color:$blue;
$base-accent-color:$red;
$base-font-color: $dark-gray;
$base-background-color: white;


// Link Colors
$base-link-color: $base-color;
$hover-link-color: $base-accent-color;
$base-button-color: $base-accent-color;
$hover-button-color: darken($base-accent-color,10%);


// Border color
$base-border-color: $light-gray;

// Base Colors


// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height*.75;
$base-z-index: 0;
// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;