{% include 'custom/system/global/html-header.html' %} {% include 'custom/system/global/header.html' %}
<!--Site Content-->
<section class="site-content two-column" role="main">
  <div class="inner-wrap">
    <article class="site-content-primary">
      {% if is_listing_view %}
      <h1>News</h1>
      <div class="blog-section">
        <div class="blog-listing-wrapper cell-wrapper">
          {# simple_list_page indicates the "blog/all" page, which is a list of links to every blog post #}
          <div class="post-listing{% if simple_list_page %}-simple{% endif %}">
            {% if blog_author %}
            <div class="hs-author-profile">
              <h2 class="hs-author-name">{{ blog_author.display_name }}</h2> {# {% if blog_author.avatar %}
              <div class="hs-author-avatar"> <img width="35 px" src="{{ blog_author.avatar }}" alt="{{ blog_author.display_name }}"> </div> {% endif %} #}
              <div class="hs-author-bio">{{ blog_author.bio }}</div>
              {% if blog_author.has_social_profiles %}
              <div class="hs-author-social-section">
                <span class="hs-author-social-label">Find me on:</span>
                <div class="hs-author-social-links">
                  {% if blog_author.facebook %}
                  <a href="{{ blog_author.facebook }}" target="_blank" class="hs-author-social-link hs-social-facebook">Facebook</a> {% endif %} {% if blog_author.linkedin %}
                  <a href="{{ blog_author.linkedin }}" target="_blank" class="hs-author-social-link hs-social-linkedin">LinkedIn</a> {% endif %} {% if blog_author.twitter %}
                  <a href="{{ blog_author.twitter }}" target="_blank" class="hs-author-social-link hs-social-twitter">Twitter</a> {% endif %} {% if blog_author.google_plus %}
                  <a href="{{ blog_author.google_plus }}?rel=author" target="_blank" class="hs-author-social-link hs-social-google-plus">Goolge +</a> {% endif %}
                </div>
              </div>
              {% endif %}
            </div>
            <br />
            <h2 class="hs-author-listing-header">Recent Posts</h2> {% endif %} {% for content in contents %}
            <div class="post-item">
              {% if not simple_list_page %} {% if content.post_list_summary_featured_image %}
              <div class="hs-featured-image-wrapper">
                <a href="{{content.absolute_url}}" title="" class="hs-featured-image-link">
                  <img src="{{ content.post_list_summary_featured_image }}" class="hs-featured-image">
                </a>
              </div>
              {% endif %}
              <div class="post-header clearfix">
                <h2><a href="{{content.absolute_url}}">{{ content.name }}</a></h2>
                <p id="hubspot-author
_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
                  Posted by {%if content.blog_post_author %}
                  <a class="author-link" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a> | {{ content.publish_date_localized }} {% endif %} | <a href="{{content.absolute_url}}#comments-listing"> 
                        {% set comments_number =  content.comment_list|length %}
                        {% if comments_number == 1 %}
                            {% set comments_lable = "Comment" %}
                        {% else %}
                                {% set comments_lable = "Comments" %}
                        {% endif %}
                        {{ comments_number }} {{ comments_lable }}</a>
                </p>
                <p class="custom_listing_comments">
                </p>
              </div>
              <div class="post-body clearfix">
                <!--post summary-->
                {{ content.post_list_content|safe }}
              </div>
              <a class="more-link" href="{{ content.absolute_url }}">Read More >></a> {% else %}
              <h2 class="post-listing-simple"><a href="{{content.absolute_url}}">{{ content.name }}</a></h2> {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="blog-pagination">
            {% if last_page_num %}
            <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}"> Prev</a> {% endif %}
            <a class="all-posts-link" href="{{ group.absolute_url }}/all">All posts</a> {% if next_page_num %}
            <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}">Next </a> {% endif %}
          </div>
        </div>
      </div>{% else %}
      <div class="blog-section">
        <div class="blog-post-wrapper cell-wrapper">
          <div class="section post-header clearfix">
            <h1 id="hubspot-name" class="link hubspot-editable" data-hubspot-form-id="name" data-hubspot-name="Blog Title">
                {{ content.name }}</h1>
            <p id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
              Posted by {%if content.blog_post_author %}
              <a class="author-link" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a> | {{ content.publish_date_localized }} {% endif %}
              <a href="{{content.absolute_url}}#comments-listing"> 
                        {% set comments_number =  content.comment_list|length %}
                        {% if comments_number == 1 %}
                            {% set comments_lable = "Comment" %}
                        {% else %}
                                {% set comments_lable = "Comments" %}
                        {% endif %}
                        {{ comments_number }} {{ comments_lable }}</a>
            </p>
            <div class="social-sharing-wrapper">
              {% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}
            </div>
          </div>
          <div class="section post-body">
            {{ content.post_body }}
          </div>
          {% if content.topic_list %}
          <p id="hubspot-topic_data"> Topics: {% for topic in content.topic_list %}
            <a class="topic-link" href="{{ group.absolute_url }}/topic/{{ topic.slug }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %} {% endfor %}
          </p>
          {% endif %}
        </div>
      </div>
      <hr>
      <h2>Comments</h2> {% blog_comments "blog_comments" overrideable=True, label='Blog Comments' %} {% endif %}
    </article>
    <aside class="site-content-secondary">
      {% widget_block rich_text "about_this_blog" overrideable=False, label='About this blog' %} {% widget_attribute "html" %}
      <h2>E-direct News</h2>
      <h3>Your source for News from the E-direct team.&nbsp;</h3>{% end_widget_attribute %} {% end_widget_block %} {% blog_subscribe "blog_subscription" select_blog='default', label='Blog Email Subscription', overrideable=False, response_message='Thanks for Subscribing!', title='Subscribe to Email Updates' %} {% post_filter "post_filter" select_blog='default', expand_link_text='see all', overrideable=False, list_title='Posts by Topic', max_links=5, filter_type='topic', label='Posts by Topic' %} {% post_listing "top_posts" select_blog='default', label='Recent Posts', overrideable=False, list_title='Recent Posts', listing_type='recent', max_links='10' %}
    </aside>
  </div>
</section>
{% include 'custom/system/global/footer.html' %} {% include 'custom/system/global/html-footer.html' %}
